*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
    scroll-behavior: smooth;
}
.background{
    width: 100%;
    height: 100vh;
    background-color:#fff ;
}
.container{
    background-image: url(../image/Background.jpg);
    width: 80%;
    margin: auto;
    background-position: center;
    position: relative;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.container2{
    background-image: url(../image/container3.jpg);
    width: 80%;
    margin: auto;
    background-position: center;
    position: relative;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.filter{
    background-color: rgb(0 0 0 / 20%);
    width: 100%;
    height: inherit;
    margin: auto;
}
.filter2{
    background-color: rgba(0, 0, 0, 0.304);
    width: 100%;
    height: inherit;
    margin: auto;
}
.container3{
    background-image: url(../image/container2.jpg);
    width: 80%;
    margin: auto;
    background-position: center;
    position: relative;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.filter3{
    background-color: rgb(0 0 0 / 20%);
    width: 100%;
    height: inherit;
    margin: auto;
}
.borderLine{
    border: 10px solid #fff;
    border-radius: 12px;
    position: absolute;
    width: 80%;
    left: 10%;
    border-bottom: 0;
    top: 14%;
    height: 85vh;

}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-shadow: 5px 1px 34px #0a0a0a47;
    border-radius: 12px;
}
.navbrand{
    font-size: 20px;    
    line-height: 16px;
    font-weight: 600;
}
.navbrand span{
    font-size: 14px;
    font-weight: 400;
    margin-left: 44px;
}
.navLinks{
    width: 35%;
    align-items: center;
}   
.navLinks ul{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
ul .listitems{
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}
 .listitems:hover{
    font-size: 17px;
    color: #fff;
}
.content {
    text-align: left;
    height: 50vh;
    padding: 10%;
}

.headline {
    font-size: 52px;
    font-weight: 600;
}
.subheadline{
    font-size: 14px;
    width: 40%;
    font-weight: 400;
}
.btn{
    width: 35%;
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
}
.btn button{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    color: #fff;
}
.btn button:hover{
    color: #01343e;
    background: rgb(181, 179, 179);
}

.icons{
    position: absolute;
    width: 200px;
    height: 200px;
    right: -105px;
    background: aliceblue;
    border-radius: 50%;
    bottom: 180px;
}
.icons .bg {
    /* position: absolute; */
    font-size: 24px;
    padding: 9px 86px;
}
.bg ion-icon{
    color: #01343e;
}

.headingText {
    width: 100%;
    text-align: center;
    padding: 2% 4%;
    font-size: 32px;
    font-weight: 500;
}
.about {
    display: flex;
    width: 60%;
    margin: 6% auto;
    padding: 10px 20px;
    line-height: 25px;
    border-radius: 8px;
    color: #fff;
    background: rgba(0, 0, 0, 0.286);
}
.contact{
    background: rgba(0, 0, 0, 0.286);
    width: 60%;
    margin: 2% auto;
    padding: 10px 20px;
    height: 75vh;
    border-radius: 8px;
}
.contactHeading {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
    font-weight: 400;
}
.subheading{
    text-align: left;
    font-size: 14px;
    color: #fff;
    padding: 25px 0;
}
.form{
    width: 50%;
    margin: 0% auto;
}
label {
    color: #fff;
}
input {
    border-radius: 2px;
    border: 0;
    width: 100%;
}
input#massage{
    height: 80px;
}